/* Theme */
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --color-background: #ffffff;
  --color-background-darker: #fbfbfb;
  --color-foreground-text: #535353;
  --color-primary: #685dc5;
  --color-primary-dark: #3b1f81;
  --color-support: #60a269;
  --color-border: #dadada;

  --app-max-width: 1440px;
  --border-radius: 5px;
  --app-s-space: 10px;
  --app-m-space: 20px;
  --app-b-space: 40px;

  --custom-easing: cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

@media only screen and (min-width: 768px) {
  :root {
    --app-s-space: 18px;
    --app-m-space: 40px;
    --app-b-space: 160px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Mini reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: initial;
  text-decoration: none;
}

/* Globals */
body {
  color: var(--color-foreground-text);
  background-color: var(--color-background);
}

/* Animations */
.fade_in {
  animation: fadeInAnimation var(--custom-easing) 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
